<div class="container">
    <ul class="order__buttons__list">
        <li class="order__buttons__item">
            <a  class="button__green" (click)="getActiveOrders()">Мої замовлення</a>
        </li>
        <li class="order__buttons__item">
            <a  class="button__green">Нове замовлення</a>
        </li>
        <li class="order__buttons__item">
            <a  class="button__green" (click)="getClosedOrders()">Історія замовлень</a>
        </li>
    </ul>
</div>
<div class="container">
  <mat-progress-spinner class="custom-spinner" mode="indeterminate" *ngIf="loading">
  </mat-progress-spinner>
    <table mat-table [dataSource]="displayDataSource" *ngIf="!loading" #mytable class="my-table mat-elevation-z8">
        <ng-container matColumnDef="placeDate">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.placeDate}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element" [ngSwitch]="element.status">
            <ng-container *ngSwitchCase="this.statusEnum.PENDING">PENDING</ng-container>
            <ng-container *ngSwitchCase="this.statusEnum.CONFIRMED">CONFIRMED</ng-container>
            <ng-container *ngSwitchCase="this.statusEnum.IN_PROGRESS">IN_PROGRESS</ng-container>
            <ng-container *ngSwitchCase="this.statusEnum.COMPLETED">COMPLETED</ng-container>
            <ng-container *ngSwitchCase="this.statusEnum.CANCELED">CANCELED</ng-container>
          </td>
        </ng-container>
    
        <ng-container matColumnDef="routeStart">
          <th mat-header-cell *matHeaderCellDef> Start point </th>
          <td mat-cell *matCellDef="let element"> {{element.route.startPoint.name}} </td>
        </ng-container>
    
    
        <ng-container matColumnDef="routeEnd">
          <th mat-header-cell *matHeaderCellDef> End point </th>
          <td mat-cell *matCellDef="let element"> {{element.route.endPoint.name}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>
