.container {
  margin-bottom: 50px;
}

.order__buttons__list {    
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.order__buttons__item {
    margin-right: 50px;
}

table{
  width: 100%;
 }

 .custom-spinner {
   margin: 0 auto;
 }

 :host ::ng-deep .custom-spinner circle{   
  stroke: #169B6D;;
}