<div>
    <h1 class="intro__title">
        Про нас
    </h1>
    <p class="intro__subtitle">
        <span class="green">MyTransporter</span> - українська компанія у сфері <span class="bold">міжнародних перевезень</span> та <span class="bold">логістики</span>.
        Місія компанії полягає в тому, щоб підтримувати своїх <span class="green">клієнтів</span> у міру їх зростання, надаючи індивідуальні послуги,
         які дозволяють їм бути більш конкурентоспроможними на відповідних ринках.
    </p>
    <p class="intro__subtitle">        
        <span class="green">MyTransporter</span> прагне надавати надійні, гнучкі інноваційні рішення, що мають високу надійність.
    </p>
</div>
