<h1 mat-dialog-title><strong>{{action}} Order</strong></h1>
<div mat-dialog-content>
  <mat-form-field >
    <input placeholder="VehicleId" matInput [(ngModel)]="local_data.vehicleId">    
  </mat-form-field>
  <mat-form-field >
    <input placeholder="StartPointId" matInput [(ngModel)]="local_data.startPointId">  
  </mat-form-field>
  <mat-form-field >
    <input placeholder="EndPointId" matInput [(ngModel)]="local_data.endPointId">
  </mat-form-field>
  <mat-form-field >
    <input placeholder="StartDate" matInput [(ngModel)]="local_data.startDate">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()" color="primary">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>