.mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: white!important;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  